<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wll.mapper.SongMapper">

    <select id="getLikedSongByUserId" resultType="com.wll.pojo.DO.SongDO">
        select song.id,
               singer_id,
               title,
               singer.name singer_name,
               album,
               picture,
               lyric,
               url
        from song
                 join singer on song.singer_id = singer.id
        where song.id in (select song_id
                          from likes
                          where user_id = #{userId});
    </select>

    <select id="querySongByID" resultType="com.wll.pojo.DO.SongDO">
        select song.id, singer_id, title, singer.name singer_name, album, picture, lyric, url,lyric_url
        from song join singer on song.singer_id = singer.id
        where song.delete_flag = false
        <if test="id != null">and song.id = #{id}</if>
    </select>

    <select id="searchSong" resultType="com.wll.pojo.DO.SongDO">
        select
        song.id,
        song.singer_id,
        song.title,
        song.album,
        song.picture,
        song.lyric,
        song.url,
        song.lyric_url,
        singer.name as singer_name
        from song
        join singer on song.singer_id = singer.id
        where song.delete_flag = false
        <if test="keyword != null and keyword != ''">
            and name like concat('%',#{keyword},'%')
            or title like concat('%',#{keyword},'%')
            or album like concat('%',#{keyword},'%')
        </if>
    </select>

</mapper>
