<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wll.mapper.SongMapper">

    <select id="getLikedSongByUserId" resultType="com.wll.pojo.DO.SongDO">
        select song.id,
               singer_id,
               title,
               singer.name singer_name,
               album,
               picture,
               lyric,
               url
        from song
                 join singer on song.singer_id = singer.id
        where song.id in (select song_id
                          from likes
                          where user_id = #{userId});
    </select>
</mapper>
